<!DOCTYPE html>
<html>
<head>
  <style>
    .error {
        color: red;
    }
  </style>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.0.2"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
</head>
<body>
  <div id="vis"></div>
  <script>
    (function(vegaEmbed) {
      var spec = {"usermeta": {"embedOptions": {"theme": "fivethirtyeight"}}, "config": {"view": {"continuousWidth": 400, "continuousHeight": 300}}, "data": {"url": "https://vega.github.io/vega-datasets/data/world-110m.json", "format": {"feature": "countries", "type": "topojson"}}, "mark": {"type": "geoshape", "stroke": "white", "strokeWidth": 0.5}, "encoding": {"color": {"type": "quantitative", "field": "count", "scale": {"scheme": "reds"}}, "tooltip": [{"type": "quantitative", "field": "count"}, {"type": "nominal", "field": "country"}, {"type": "temporal", "field": "date"}, {"type": "quantitative", "field": "day"}]}, "height": 400, "transform": [{"lookup": "id", "from": {"data": {"url": "http://localhost:18118/e99ccfaf615f147b70886efb3349193f.json"}, "key": "id", "fields": ["count", "kind", "country", "day", "date"]}}], "width": 700, "$schema": "https://vega.github.io/schema/vega-lite/v4.0.2.json"};
      var embedOpt = {"mode": "vega-lite"};

      function showError(el, error){
          el.innerHTML = ('<div class="error" style="color:red;">'
                          + '<p>JavaScript Error: ' + error.message + '</p>'
                          + "<p>This usually means there's a typo in your chart specification. "
                          + "See the javascript console for the full traceback.</p>"
                          + '</div>');
          throw error;
      }
      const el = document.getElementById('vis');
      vegaEmbed("#vis", spec, embedOpt)
        .catch(error => showError(el, error));
    })(vegaEmbed);

  </script>
</body>
</html>